{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <a href="{{ path('logout') }}"><h3>logout</h3></a>

    <div class="example-wrapper">
        <h2>Hello admin! ✅</h2>
        <a href="{{ path('home') }}"><h3>Home</h3></a>

        <h3>you are logged with admin role !</h3>
        <h3><a href="{{ path('home') }}?_switch_user=test">tu veux switcher avec M. test ? </a></h3>

    </div>
{% endblock %}
