{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <a href="{{ path('logout') }}"><h3>logout</h3></a>

    <div class="example-wrapper">
        <h2>Hello {{ app.user.username }}! ✅</h2>
        {% for role in app.user.roles %}
            {{ role }},
        {% endfor %}

        <h3>Page d'acceuil </h3>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}"><h3>Page admin</h3></a>
        {% endif %}
    </div>
{% endblock %}
